---
import Layout from '../../layouts/Layout.astro';
import Navbar from '../../components/Navbar.astro';
import FormEcheq from '../../components/FormEcheq.astro';
---

<Layout title='Nuevo Cheque'>
	<Navbar />
	<section>
       <FormEcheq />
    </section>
</Layout>