---
import Layout from '../../layouts/Layout.astro';
import Navbar from '../../components/Navbar.astro';
import FormClient from '../../components/FormClient.astro';
---

<Layout title="Nuevo cliente">	

	<Navbar />
	<section>
       <FormClient />
    </section>

</Layout>