---
import Layout from '../../layouts/Layout.astro';
import Navbar from '../../components/Navbar.astro';
import TableClient from '../../components/TableClient.astro';
---

<Layout title="Nuevo cliente">	

	<Navbar />
	<section>
       <TableClient />
    </section>

</Layout>